<%= form_with(model: topping) do |form| %>
  <% if topping.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(topping.errors.count, "error") %> prohibited this topping from being saved:</h2>

      <ul>
        <% topping.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :topping_name, placeholder:"Topping Name" %>
  </div>

  <div class="mb-3">
    <%= form.label :stock, class: "form-label fs-6" %>
    <select name="topping[stock]" id="topping_stock" class="form-select">
      <option selected disabled>Select current inventory status</option>
      <option value="In Stock" <%= 'selected' if @topping.stock == 'In Stock' %>>In Stock</option>
      <option value="Running Low" <%= 'selected' if @topping.stock == 'Running Low' %>>Running Low</option>
      <option value="Out of Stock" <%= 'selected' if @topping.stock == 'Out of Stock' %>>Out of Stock</option>
    </select>



    <% label_tag :stock, "Stock", class: "input-group-text text-bg-secondary", for: "inputGroupSelect" %>
    
    <%# A two-element array is used for because it follows the format [display, value] for consistent data formatting %>
    <% select_tag :stock, 
        options_for_select([["In Stock", "In Stock"], ["Running Low", "Running Low"], ["Out of Stock", "Out of Stock"]], topping.stock),
        { include_blank: "Inventory Stock", class: "form-select", id: "inputGroupSelect" } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
