<%= form_with(model: pizza, local: true) do |form| %>
  <% if pizza.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pizza.errors.count, "error") %> prohibited this pizza from being saved:</h2>

      <ul>
        <% pizza.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :pizza_name, placeholder:"Pizza Name" %>
  </div>

  <div class="mb-3">
    <%= form.label :crust, class: "form-label fs-6" %>
    <select name="pizza[crust]" id="pizza_crust" class="form-select">
      <option selected disabled>Select crust style</option>
      <option value="Plain" <%= 'selected' if @pizza.crust == 'Plain' %>>Plain</option>
      <option value="Parmesan" <%= 'selected' if @pizza.crust == 'Parmesan' %>>Parmesan</option>
      <option value="Garlic Butter" <%= 'selected' if @pizza.crust == 'Garlic Butter' %>>Garlic Butter</option>
      <option value="Cheese Stuffed" <%= 'selected' if @pizza.crust == 'Cheese Stuffed' %>>Cheese Stuffed</option>
    </select>

  </div>

  <div class="custom-checkbox">
      <% if @toppings.empty? %>
        <p>Toppings need to be created before you can add any to a pizza.</p>
      <% else %>
        <ul>
          <% @toppings.each do |topping| %>
            <li>
              <%= form.check_box :topping_ids, { multiple: true, id: "topping_#{topping.id}" }, topping.id, nil %>
              <%= form.label "topping_ids_#{topping.id}", topping.topping_name %>
           </li>
          <% end %>
        </ul>
      <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
