<%= form_with(model: pizza, local: true) do |form| %>
  <% if pizza.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pizza.errors.count, "error") %> prohibited this pizza from being saved:</h2>

      <ul>
        <% pizza.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :pizza_name, placeholder:"Pizza Name" %>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Crust
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Plain</a></li>
      <li><a class="dropdown-item" href="#">Parmesan</a></li>
      <li><a class="dropdown-item" href="#">Garlic Butter</a></li>
      <li><a class="dropdown-item" href="#">Cheese Stuffed</a></li>
    </ul>
    
    <%= form.hidden_field :crust, id: 'selected-crust', value: 'Plain' %>

    <%# <div class="input-group mb-3">
      <label class="input-group-text text-bg-secondary" for="inputGroupSelect01">Crust</label>
      <select class="form-select" id="inputGroupSelect01">
        <option selected>Plain</option>
        <option value="1">Parmesan</option>
        <option value="2">Garlic Butter</option>
        <option value="3">Cheese Stuffed</option>
      </select>
    </div> %>


    <%= javascript_include_tag "custom_dropdown", "data-turbo-track": "reload", crossorigin: "anonymous" %>

  </div>


  <div class="custom-checkbox">
      <ul>
        <% @toppings.each do |topping| %>
          <li>
            <%= form.check_box :topping_ids, { multiple: true, id: "topping_#{topping.id}" }, topping.id, nil %>
            <%= form.label "topping_ids_#{topping.id}", topping.topping_name %>
         </li>
        <% end %>
      </ul>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
