<div id="<%= dom_id pizza %>">
  <p>
    <strong>Pizza name:</strong>
    <%= pizza.pizza_name %>
  </p>

  <p>
    <strong>Crust:</strong>
    <%= pizza.crust %>
  </p>

  <p>
    <strong>Toppings:</strong>
    <%= pizza.toppings %>
  </p>

</div>

<p id="notice"><%= notice %></p>
