<br/>

<h1 class="text-center">Pizzas</h1>

<br/>
<table class="table table-striped table-bordered table-hover" >
  <thead class="table-dark">
    <tr>
      <th>Pizza Name</th>
      <th>Crust</th>
      <th style="width:50%">Toppings</th>
      <th style="width:10%"></th>
    </tr>
  </thead>

  <tbody>
    <% @pizzas.each do |pizza| %>
      <tr>
        <td><%= link_to pizza.pizza_name, pizza %></td>
        <td><%= pizza.crust %></td>
        <%# Checks if the pizza has any toppings, and if it does, it displays the toppings in a single string separated by commas %>
        <td><%= pizza.toppings.any? ? pizza.toppings.map(&:topping).join(', ') : 'No toppings' %></td>
        <td>
          <%= link_to 'Edit', edit_pizza_path(pizza), class:"btn btn-secondary btn-sm" %>
          <%= link_to 'Delete', pizza, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class:"btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New pizza", new_pizza_path, class:"btn btn-secondary" %>
