<br/>

<h1 class="text-center">Pizzas</h1>

<br/>
<table class="table table-striped table-bordered table-hover w-100" >
  <thead class="table-dark">
    <tr>
      <th>Pizza Name</th>
      <th>Crust</th>
      <th>Toppings</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pizzas.each do |pizza| %>
      <tr>
        <td><%= link_to pizza.pizza_name, pizza %></td>
        <td><%= pizza.crust %></td>
        <td><%= pizza.toppings %></td>
        <td>
          <%= link_to 'Edit', edit_pizza_path(pizza), class:"btn btn-secondary btn-sm" %>
          <%= link_to 'Delete', pizza, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class:"btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New pizza", new_pizza_path %>
